body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #3185FC;
}
#head {
  font-size: 20vmin;
  color: #B74F6F;
}
#container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#game {
  height: 80vmin;
  width: 80vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.squares {
  height: 25vmin;
  width: 25vmin;
  border: none;
  border-radius: 1rem;
  font-size: 22vmin;
  box-shadow: 0 0 0.8rem #35281D;
  background-color: #34E5FF;
  color: #35281D;
}
.whoseTurn {
  font-size: 10vmin;
animation: pop 0.5s ease-out;
}
#justToIncHeight {
  height: 10vmin;
}
@keyframes pop {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.newGame {
  color: purple;
  font-size: 15vmin;
}
#whoWins {
  height: 3vmin;
  font-size: 9vmin;
}